{% extends "base.html" %}

{% block content %}

    <main>
        <!-- Hero -->
        <div class="section-header pb-6 text-black">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-left mb-3 mt-4">
                        <h2>Plants v. Fauna</h2>
                        <h1>Detail {{device.device_id}}</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-md">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {% if device.manual_on %}
                    {% if device.remote_on %}
                        <p>Turn Off{{ form.submit() }}</p>
                    {% else %}
                        <p>Turn On{{ form.submit() }}</p>
                    {% endif %}
                {% else %}
                    <p>Device is off or out of power</p>
                {% endif %}
                {% for error in form.turn_on.errors %}
                    <br>
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </form>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-1" style="text-align: center;">
                        <p>#</p>
                    </div>
                    <div class="col-1">
                        <p class="mb-1">Device</p>
                    </div>
                    <div class="col-2">
                        <p class="mb-1">Time</p>
                    </div>
                    <div class="col-3"> 
                        <p class="mb-1">Status</p>
                    </div>
                    <div class="col-1">
                        <p class="mb-1">Battery</p>
                    </div>
                    <div class="col-4">
                        <p class="mb-1">Description</p>
                    </div>
                </div>
                {% for report in reports %}
                <div class="row align-items-center">
                    <div class="col-1" style="text-align: center;">
                        <p>{{loop.index}}</p>
                    </div>
                    <div class="col-1">
                        <p class="mb-1">{{report.device_id}}</p>
                    </div>
                    <div class="col-2">
                        <p class="mb-1">{{report.time}}</p>
                    </div>
                    <div class="col-3"> 
                        <p class="mb-1">{{report.status}}</p>
                    </div>
                    <div class="col-1">
                        <p class="mb-1">{{report.battery}}</p>
                    </div>
                    <div class="col-4">
                        <p class="mb-1">{{report.description}}</p>
                    </div>
                </div>
                {% endfor %}

                {% if has_prev %}
                <li>
                    <a href="{{ url_for('index.detail', device=device.device_id, page=page-1) }}">Previous</a>
                </li>
                {% endif %}

                <!-- next page -->
                {% if has_next %}
                <li>
                    <a href="{{ url_for('index.detail', device=device.device_id, page=page+1) }}">Next</a></li>
                {% endif %}
            </div>
        </div>
    </main>

{% endblock %}