<header class="header-global">

    <style>
        .logo1 {
          max-width: 40%;
        }
    </style>
    <nav style="color: aliceblue" id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark">
        <div style="color: aliceblue" class="container position-relative">
            <div style="color: aliceblue" class="navbar-collapse collapse me-auto" id="navbar_global">
                <div style="color: aliceblue" class="navbar-collapse-header">
                    <a href="{{ url_for('index.index') }}">
                        <img class="logo1" src="/static/assets/img/logo.png" alt="Logo">
                    </a>
                </div>
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                    <li class="nav-item dropdown">
                        <a href="{{ url_for('index.index') }}" class="nav-link" data-bs-toggle="dropdown" id="supportDropdown" aria-expanded="false">
                            Home
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="{{ url_for('index.summary') }}" class="nav-link" data-bs-toggle="dropdown" id="supportDropdown" aria-expanded="false">
                            Summary
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidenav">
            {% block msg %}
            <div style="color: aliceblue; text-align: right; margin-right: 25px">
                
                {% if current_user.is_authenticated %}
                Hello {{current_user.username}}! &nbsp &nbsp <a href="{{ url_for('users.logout') }}" type="button" class="btn btn-light">Log out</a>
                {% else %}
                <a href="{{ url_for('users.login') }}" type="button" class="btn btn-light">Log in</a>
                {% endif %}
            </div>
            {% endblock %}
        </div>
        <div class="main">
            {% block content %}{% endblock %}
        </div>
    </nav>
</header>