{% extends "base.html" %}

{% block content %}

    <main>
        <!-- Hero -->
        <div class="section-header pb-6 text-black">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-left mb-3 mt-4">
                        <h2>Plants v. Fauna</h2>
                        <h1>Summary</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-md">
            <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                <option value="">Select Device...</option>
                {% for device in devices %}
                <option value="{{ url_for('index.detail', device=device, page=0) }}">{{device}}</option>
                {% endfor %}
              </select>

            <div class="container">
                <div class="row align-items-center">
                    <div class="col-1" style="text-align: center;">
                        <p>#</p>
                    </div>
                    <div class="col-1">
                        <p class="mb-1">Device</p>
                    </div>
                    <div class="col-2">
                        <p class="mb-1">Time</p>
                    </div>
                    <div class="col-3"> 
                        <p class="mb-1">Status</p>
                    </div>
                    <div class="col-1">
                        <p class="mb-1">Battery</p>
                    </div>
                    <div class="col-4">
                        <p class="mb-1">Description</p>
                    </div>
                </div>
                {% for report in reports %}
                <div class="row align-items-center">
                    <div class="col-1" style="text-align: center;">
                        <p>{{loop.index + page*10}}</p>
                    </div>
                    <div class="col-1">
                        <p class="mb-1">{{report.device_id}}</p>
                    </div>
                    <div class="col-2">
                        <p class="mb-1">{{report.time}}</p>
                    </div>
                    <div class="col-3"> 
                        <p class="mb-1">{{report.status}}</p>
                    </div>
                    <div class="col-1">
                        <p class="mb-1">{{report.battery}}</p>
                    </div>
                    <div class="col-4">
                        <p class="mb-1">{{report.description}}</p>
                    </div>
                </div>
                {% endfor %}

                {% if has_prev %}
                <li>
                    <a href="{{ url_for('index.summary', page=page-1) }}">Previous</a>
                </li>
                {% endif %}

                {% if has_next %}
                <li>
                    <a href="{{ url_for('index.summary', page=page+1) }}">Next</a></li>
                {% endif %}
            </div>
        </div>
        <div>
            {% if graph_loc != "" %}
                <img width=400 height=300 src="{{  url_for('static', filename=graph_loc) }}"/>
            {% else %}
                <p>No pests detected in last 24 hours</p>
            {% endif %}
        </div>
    </main>

{% endblock %}